<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Reading</title>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="../static/css/style.css"/>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<h1>Reading</h1>
			</div>
			<div class="row">
				<ul class="list-group list-group-horizontal-md">
					<li id="current" class="list-group-item clickable">
						📖 Currently Reading
					</li>
					<li id="fiction" class="list-group-item clickable">
						🌌 Top Fiction Books
					</li>
					<li id="nonfiction" class="list-group-item clickable">
						📓 Top Non-Fiction Books
					</li>
					<li id="next" class="list-group-item clickable">📚 Books On Deck</li>
				</ul>
			</div>
			<div id="content" class="row">
				
			</div>
		</div>
		
		<script src="../static/js/reading.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
			integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
			crossorigin="anonymous"
		></script>
	</body>
</html>
